{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-5 col-sm-7 mx-auto">
    <form method="POST">
        <h3 align="center">{{page_header}}</h3>
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(class="form-control") }}<br>
            {% for error in form.name.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.max_members.label }}<br>
            {{ form.max_members(class="form-control") }}<br>
            {% for error in form.max_members.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(class="form-control") }}<br>
            {% for error in form.description.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-success mx-auto d-block col-lg-3 col-sm-5") }}</p>
</form>
</div>
</div>

{% endblock %}