{% extends "base.html" %}
{% from "components/project_card.html" import project_card %}

{% block content %}
    {% if projects %}
    {% for prj in projects %}
    
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-sm-8 mx-auto">
            {{project_card(prj)}}
            <div class="col-lg-3" style="margin-left: 10px; margin-top: 5px;">
            {% if user.is_authenticated %}

                {% if user in prj.members %}
                    <a class="btn btn-success disabled" href="">Вы учавствуете!</a>
                {% elif prj.members|length == prj.max_members %}
                    <a class="btn btn-primary disabled" href="">Нет мест!</a>
                {% elif prj.leader_id != user.id %}
                    <a class="btn btn-success" href="{{url_for('views.join_project', project_id=prj.id)}}">Присоединиться</a>
                {% endif %}
            {% endif %}
            </div>
        </div>
    </div>

    {% endfor %}
    {% else %}
    <div class="row">
        <h5 class="text-muted" style="text-align: center">На площадке пока что нет ни одного проекта, будьте первыми</h5>
    </div>
    {% endif %}
{% endblock %}