{% extends "base.html" %}
{% from "components/project_card.html" import project_card %}

{% block content %}
<a class="btn btn-primary" href="{{url_for('views.my_projects')}}">Назад</a>
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-sm-8 mx-auto">
            {{project_card(prj)}}
            <div class="btn-wrapper" style="margin-left: 10px; margin-top: 5px;">
            {% if prj.leader_id != user.id %}
                <a class="btn btn-danger" href="{{url_for('views.leave_project', project_id=prj.id)}}">Покинуть</a>
            {% else %}
                <a class="btn btn-primary" href="{{url_for('views.edit_project', project_id=prj.id)}}"><i class="bi bi-pencil"></i></a>
                <a class="btn btn-danger" href="{{url_for('views.delete_project', project_id=prj.id)}}"><i class="bi bi-trash"></i></a>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}