{% macro project_card(project, btns=None) %}
<div class="card">
    <h5 class="card-header">Название: {{project.name}}</h5>
    <div class="card-body">
      <h6 class="card-title">Лидер: {{project.leader.name}}</h6>
      <h6 class="card-title">Описание:</h6>
      <p class="card-text">{{project.description}}</p>
      <h6 class="card-title">Участников: {{project.members|length}}/{{project.max_members}}</h6>
      {% if btns %}
      <div class="row">
        {% for btn in btns %}
            {{btn}}
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
{% endmacro %}